# Starter app config for prod

# Don't use DB_SYNC=true for production!
DB_SYNC=false # Only for dev
# Whether to apply migrations/schema changes when app starts.
DB_MIGRATIONS=false

# Enable Cors for dev
CORS_ENABLED=false
# If CORS enabled, specify client port for origin at localhost.
CORS_CLIENT_PORT=5173

# DB Connection
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=drone_sensors
